name: "FreqTrade"
version: "2025.2.0"
slug: freqtrade
description: "Freqtrade is a free and open source crypto trading bot written in Python. It is designed to support all major exchanges and be controlled via Telegram or webUI. It contains backtesting, plotting and money management tools as well as strategy optimization by machine learning."
arch:
  - aarch64
url: "https://www.freqtrade.io/"
init: false
ingress: true
ingress_port: 8099
map:
  - type: addon_config
    path: /freqtrade/user_data
    read_only: False
panel_icon: mdi:currency-btc
options:
  strategy: Strategy002
schema:
  strategy: str
backup_exclude:
  - "*/logs"
